<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Deposito Rosales</h1>
            <h3 class="mb-5">
                <em>¡Arma la fiesta!</em>
            </h3>
            <a href="/signin" class="btn btn-primary">Haz tu pedido!</a>
        </div>
    </header>
</main>