<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>SignIn</h3>
                </div>
                <div class="card-body">
                    <img src="https://scontent-qro1-1.xx.fbcdn.net/v/t1.0-9/s960x960/60614157_356414531678875_4731098178114289664_o.jpg?_nc_cat=111&_nc_sid=85a577&_nc_ohc=b-3df6s9S7sAX-LZ0Aa&_nc_ht=scontent-qro1-1.xx&tp=-7&oh=bce28191c96d57c907a9ca47bc8eb5d7&oe=5F5DB058" alt="Deposito" class="card-img-top mx-auto m-2 rounded-circle w-50">
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Usuario" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Contraseña">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">SignIn</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>